* {
    overflow: hidden;

    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    }

    body {
        font-family: 'Roboto', sans-serif;
        background-color: #a7bcff;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Roboto', sans-serif;
    }

    .button {
        font-family: 'Roboto', sans-serif;
    }
}